<div class="list">
   <h2>Add a new product</h2>
   <div> 
     <label>Product name: </label><input #productName />
     <br/>
     <label>Product units: </label><input #productUnits type= "number"/>
     <br/>
     <label>Product description: </label><input #productDescription class="description" />
     <br/><br/>
     <button (click)="add(productName.value, productDescription.value, productUnits.value); productName.value=''; 
     productDescription.value=''; productUnits.value='';">
       Add product
     </button>
   </div>
</div>
