<div class="list">
   <h2>My Products</h2>

   <ul class="products">
     <li *ngFor="let product of products" (click)="onSelect(product)"
         [class.selected]="product === selectedProduct">
       <span class="badge">{{product.units}} Units</span>
       <span class="text">{{product.name}}</span>
       <button class="option"
         (click)="delete(product); $event.stopPropagation()">x</button>
       <button class="option" (click)="info(product)">i</button>
     </li>
   </ul>
   <div *ngIf="selectedProduct">
     <h2>
       ¡I like {{selectedProduct.name}}!
     </h2>
     <div class="selectedProduct">
       <button (click)="gotoDetail()">View Details</button>
       <button (click)="deleteProduct(product)">Delete product</button>
     </div>
   </div>
</div>
