<div *ngIf="product" class="info">
   <h2>{{product.name}} details!</h2>
   <div>
     <label>Id: </label>{{product.id}}
   </div>
   <div>
    <label>Units: </label>
    <input [(ngModel)]="product.units" placeholder="units" type= "number" />
   </div>
   <div>
     <label>Name: </label>
     <input [(ngModel)]="product.name" placeholder="name" />
   </div>
   <div>
     <label>Description: </label>
     <input [(ngModel)]="product.description" placeholder="description" />
   </div>
   <button (click)="goBack()">Back</button>
   <button (click)="save()">Save</button>
   <button (click)="delete(product)">Delete product</button>
</div>
